.button {
  width: 25rem;
  height: 4rem;
  border-radius: 0.4rem;
  border: none;

  font-size: 1.5rem;
  font-weight: 500;
  color: #FFFFFF;

  background: #2D2D2D;

  cursor: pointer;

  &:hover {
    filter: opacity(90%);
  }
}